:root {
    --background: #18181b;
    --foreground: #ECEFF4;
    --hover: #1f1f23;
    --highlight: #88C0D0;
    --accent: #5E81AC;
    --success: #A3BE8C;
    --border-radius: 4px;
    --progress: #ebcb8b
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
    color: var(--foreground);
    background-color: var(--background);
    margin: 0;
    padding: 20px;
    font-size: 14px;
}

#topbar {
    margin-bottom: 20px;
}

#topbar button {
    background-color: var(--accent);
    color: var(--foreground);
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: var(--border-radius);
}

#topbar button:hover {
    background-color: var(--highlight);
}

.part {
    background-color: var(--hover);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: var(--border-radius);
}

.part h3 {
    color: var(--highlight);
    margin-top: 0;
}

.part ul {
    list-style-type: none;
    padding: 0;
}

.part li {
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.checked-count {
  color: var(--progress);
  font-weight: normal;
}

.checked-count.all-checked {
  color: var(--success);
  font-weight: bold;
}

.table-of-contents {
  font-size: 1.2em;
}

.table-of-contents a {
  text-decoration: none;
  color: var(--foreground);

  padding: 5px 0;
  transition: color 0.2s ease;
}

.table-of-contents a:hover {
  color: var(--highlight);
}

.toc-count {
  color: var(--progress);
}

.toc-count.all-checked {
  color: var(--success);
  font-weight: bold;
}